/* First of all */
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Soft Keys */
#softkeys {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  width: 72px;
  padding: 0 5px;
}

#softkey-left,
#softkey-right {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
  line-height: 24px;
  text-align: left;
}

#softkey-right {
  text-align: right;
  line-height: 24px;
}

#softkey-center {
  font-weight: 600;
  font-size: 16px;
  width: 76px;
  color: #323232;
  text-align: center;
}

.tab {
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 2;
}

.tab li {
  float: left;
  list-style: none;
  margin: 7.5;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.focus {
  border-bottom: 3px solid #00a1d6;
}

#info,
#items {
  margin-top: 30px;
  height: calc(100% - 60px);
}

#container,
#items {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 30px;
  height: calc(100% - 30px);
}

#items .item {
  border-bottom: 1px solid #00a1d6;
}

.item {
  padding: 4px 6px;
}

.item.select {
  color: white;
  background-color: #00a1d6;
}
