#list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 30px);
}

.item {
  position: relative;
  width: 100%;
  height: 42px;
  padding: 6px;
  background-color: white;
  outline: none;
}

.item.select {
  color: white;
  background-color: #00a1d6;
}
